main{
    padding:10%;
    height: 100%
}


p, li{
    color: #FAFAFA;
    
}

article{
    padding: 5% 0;
}

i{
    font-size: 1rem;
}

a{
    color: #FAFAFA;
}

@media (min-width: 1279px){
    p, li{
        font-size:1.5rem;
    }

    h3{
        font-size: 2rem;
    }
}