<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impuestos</title>
    <link rel="stylesheet" href="../css/styles.css">
	<link rel="stylesheet" href="../css/impuestos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/162fed51d8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
          <div class="navbar">
            <div class="container nav-container">
              <input class="checkbox" type="checkbox" name="" id="" />
              <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
              </div>
              <div class="menu-items">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/impuestos.html">Impuestos</a></li>
                <li><a href="../views/info.html">Más Info</a></li>
                <li><a href="https://github.com/gianlucarobotti200" target="_blank"><i class="fa-brands fa-github"></i></a></li>
              </div>
            </div>
          </div>
        </nav>
    </header>
    <main>
		<section class="flags">
			<img src="../img/paying-off-ccs_toolbox-removebg-preview.png">
		</section>
		<article>
			<h3>Ley Impuesto PAIS</h3>
			<p>Cada vez que pagues a un comercio físico u online que radique sus cobros fuera de Argentina se te cobrará:</p>
			<ul>
				<li>30% si no está en el listado.</li>
				<li>Si está en el APARTADO A, pagarás un 8% que se suma al IVA (en caso que corresponda).</li>
				<li>Si está en el APARTADO B y la operación es menor a U$S 10, se te cobrará un 8% que se suma al IVA (en caso que corresponda).</li>
				<li>Si está en el APARTADO B y la operación es mayor a U$S 10, se te cobrará un 30%.</li>
			</ul>
		</article>
		
		<article>
			<h3>Adelanto al impuesto a las Ganancias y los Bienes Personales</h3>
			<p>A partir de la Resolución General 4815/2020, también se te cobrará un 45% de impuesto a los pagos en moneda extranjera comprendidos dentro del Impuesto PAIS. Quedan exentas aquellas entidades que se encuentren dentro del padrón de Exclusión de Ganancias previsto por la RG N°2.681 por encontrarse dentro de los siguientes incisos del art. 26 de la Ley del Impuesto a las Ganancias (T.O 2019 y sus modificaciones):</p>
			<ol>
				<li>Entidades exentas de impuestos por leyes nacionales</li>
				<li>Sociedades cooperativas</li>
				<li>Instituciones religiosas</li>
				<li>Asociaciones, fundaciones y entidades civiles de asistencia social, salud pública, caridad, beneficencia, educación e instrucción, científicas, literarias, artísticas, gremiales y las de cultura física o intelectual</li>
				<li>Entidades mutualistas</li>
				<li>Asociaciones deportivas y de cultura física que no persigan fines de lucro</li>
				<li>Instituciones internacionales sin fines de lucro, con personería jurídica, con sede central establecida en la República Argentina.</li>
			</ol>
			<p>En caso de que alcances consumos mensuales por US$ 300, debitaremos de forma retroactiva el importe correspondiente al impuesto comprendido en la Resolución General AFIP 5272/2022. Luego, en cada siguiente de ese mismo mes, también deberás contemplar este impuesto.</p>
		</article>
		
		<article>
			<h3>Exenciones del Impuesto PAIS y del impuesto a las Ganancias y los Bienes Personales </h3>
			<p>Las siguientes actividades están exentas del cobro de estos impuestos:</p>
			<ul>
				<li>Gastos referidos a prestaciones de salud.
					Compra de medicamentos</li>
				<li>Adquisición de libros y/o plataformas educativas y software con fin educativo</li>
				<li>Compra  en el exterior de materiales de equipamiento</li>
				<li>Adquisición de Bienes destinados a la lucha contra el fuego y protección civil</li>
				<li>Instituciones públicas y privadas enmarcadas en el artículo 36 de la Ley Impuesto PAIS.</li>
			</ul>
		</article>
		<article>
			<h3>Percepción de Ingresos Brutos</h3>
			<p>Algunas provincias cobran una percepción de ingresos brutos a los servicios digitales o pagos en moneda extranjera. En tu cobro llegará un concepto con el nombre de "Percepción Ingresos Brutos", "IIBB", o similar.</p>
			<p>El monto de esta percepción varía de acuerdo a la provincia (CABA o Buenos Aires cobran un 2%, mientras que otras provincias cobran hasta un 5.5%)</p>
			<table style="border-collapse: collapse; width: 100%; height: 168px;" border="1">
				<tbody>
				<tr style="height: 21px;">
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;"><strong>Provincia</strong></span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;"><strong>Porcentaje de impuesto</strong></span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;"><strong>Normativa</strong></span></td>
				</tr>
				<tr style="height: 21px;">
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">CABA</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">2%</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;"><a href="https://www.agip.gob.ar/normativa/resoluciones/2019/agip/-resolucion-n-312--agip--2019" target="_blank" rel="noopener">AGIP RG 312/2019</a></span></td>
				</tr>
				<tr style="height: 21px;">
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">Bs. As.</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">2%</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;"><a href="http://www.arba.gov.ar/Intranet/Legislacion/Normas/Resoluciones/2019/Res038-19.pdf" target="_blank" rel="noopener">ARBA RG 38/2019</a></span></td>
				</tr>
				<tr style="height: 21px;">
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">C&oacute;rdoba</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">3%</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;"><a href="https://portal.rentascordoba.gob.ar/frontend/afiledownload?4,4,26,O,S,0,4137%3BS%3B1%3B144" target="_blank" rel="noopener">Rentas de C&oacute;rdoba Decreto 774/2018</a></span></td>
				</tr>
				<tr style="height: 21px;">
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">La Pampa</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">1%</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;"><a href="https://dgr.lapampa.gob.ar/images/Archivos/Normativa/Resoluciones/res2019/RG_14_19.pdf" target="_blank" rel="noopener">Rentas de La Pampa RG 14/2019 (Anexo II)</a></span></td>
				</tr>
				<tr style="height: 21px;">
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">R&iacute;o Negro</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">5%</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;"><a href="https://www.rionegro.gov.ar/download/archivos/00013921.pdf" target="_blank" rel="noopener">Rentas de R&iacute;o Negro RG 808/2020</a></span></td>
				</tr>
				<tr style="height: 21px;">
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">Salta</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">3,6%</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;"><a href="http://www.consejosalta.org.ar/wp-content/uploads/RG34-18.pdf" target="_blank" rel="noopener">Rentas de Salta RG 34/2018</a></span></td>
				</tr>
				<tr style="height: 21px;">
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">Chaco</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;">5,5%</span></td>
				<td style="width: 31.5865%; height: 21px; text-align: center;"><span style="font-size: 14px;"><a href="https://atp.chaco.gob.ar/RESOLUCIONES/resoluciones_grales_2046.pdf" target="_blank" rel="noopener">Rentas de Chaco RG 2046/2020</a></span></td>
				</tr>
				<tr>
				<td style="width: 31.5865%; text-align: center;"><span style="font-size: 14px;">Neuqu&eacute;n</span></td>
				<td style="width: 31.5865%; text-align: center;"><span style="font-size: 14px;">3%</span></td>
				<td style="width: 31.5865%; text-align: center;"><span style="font-size: 14px;">RG 1/2022</span></td>
				</tr>
				</tbody>
				</table>
		</article>
		<article>
			<h3>Impuesto a los sellos</h3>
			<p>Es un impuesto que algunas provincias cobran a todas las operaciones realizadas con tarjeta de crédito. Aplica sobre el total de tu resumen mensual. Lo podés evitar usando tarjetas de débito recargables como Ualá, Brubank, MercadoPago, etc.</p>
		</article>
	</main>
</body>
</html>