<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/impuestos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/162fed51d8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
          <div class="navbar">
            <div class="container nav-container">
              <input class="checkbox" type="checkbox" name="" id="" />
              <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
              </div>
              <div class="menu-items">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/impuestos.html">Impuestos</a></li>
                <li><a href="../views/info.html">Más Info</a></li>
                <li><a href="https://github.com/gianlucarobotti200" target="_blank"><i class="fa-brands fa-github"></i></a><a href="https://www.linkedin.com/in/gianluca-robotti/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
              </div>
            </div>
          </div>
        </nav>
    </header>
    <main>
      <section class="flags">
        <img src="../img/iconoriginal.png">
      </section>
      <p>Esta aplicación te va a permitir calcular el valor del dólar tarjeta en Argentina. El dólar tarjeta es valor que se utiliza cuando alguien de Argentina gasta en dólares o en cualquier moneda extranjera con tarjeta, ya sea de crédito, débito, o prepaga(Mercado Pago, Ualá, Brubank, etc) o tambien llamadas de débito recargables. Esto aplica si realizamos compras en el exterior, como así tambien compras de servicios o productos digitales en tiendas que no facturan dentro del país(Netflix, Spotify, Steam, etc.).</p>
      <h3>Funcionamiento</h3>
      <p>La aplicación te permite ingresar un valor, sumado a una serie de datos, que hacen que el precio final varíe y que no todos tenemos en cuenta al hacer algún gasto de este tipo. Los valores se actualizan automáticamente cada 24hs y a partir de este realizan los cálculos. <br> Podés elegir entre las siguientes opciones de moneda:</p>
      <ul>
        <li>Pesos argentinos ARS</li>
        <li>Dólares estadounidenses USD</li>
        <li>Pesos chilenos CLP</li>
        <li>Pesos uruguayos UYU</li>
        <li>Reales brasileños R</li>
        <li>Euros EUR</li>
      </ul>

      <h3>Cómo usar la app.</h3>
      <ul>
        <li>Desde la página Home, seleccionar la provincia de residencia de la persona a la que esta el nombre de la tarjeta. Dependiendo de la provincia se aplica una tasa distinta.</li>
        <li>Si no se encuentra tu provincia de residencia, simplemente elige "Ninguna de la lista".</li>
        <li>Elegir el tipo de tarjeta (Crédito, Débito, Prepaga).</li>
        <li>Ingresa el valor a gastar indicando antes, en qué moneda lo vas a expresar. </li>
      </ul>   
      <p>Finalmente, haz clic en el botón "Calcular" para obtener el resultado.</p>

    </main>
    <footer>
      <p>Todos los derechos reservados a Gianluca Robotti <a href="https://github.com/gianlucarobotti200" target="_blank"><i class="fa-brands fa-github"></i></a><a href="https://www.linkedin.com/in/gianluca-robotti/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></p>
    </footer>
</body>
</html>