* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #014e96;
    color: white;
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}

h1 {
    display: flex;
    flex-direction: column;
}

img {
    width: 5em;
    height: 5em;
    text-align: center;
    transform: translateX(-100%);
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}

button {
    background-color: #01407c;
    color: white;
    border-radius: 50px;
    border-style: none;
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 1rem 3rem;
    margin-top: 2rem;
    transform: translateX(100%);
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}

button:hover{
    background-color: #012e58;
    cursor: pointer;
}

button.volver{
    position: fixed;
    top: 10px;
    left: 10px;
}

h5{
    color: grey;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}